@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #60A5FA;
  --color-tertiary: #DBEAFE;
  --color-background: #F8FAFC;
  --color-accent: #2563EB;
  --color-accent-2: #2C25EB;
  --color-dark: #1E293B;
  --color-overlay: rgba(37, 99, 235, 0.1);
  
  --font-sans: "Pretendard", "ui-sans-serif", "system-ui", "sans-serif";
}

:root {
  font-family: "Pretendard", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
